html{
    margin: 0;
    padding: 0;
    width: 100%;
    color: teal;
}

.home {
    margin: auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url(asset/bgweb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.header{
    display: flex;
}

#logo{
    color: indianred;
    font-family: fantasy;
    font-size: 30px;
    font-size: xx-large;
    font-weight: bolder;
    align-items: center; 
}

#nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: auto;
    justify-content: center; 
    }

.latardepan span{
    color:whitesmoke;
    font-family:Raleway;
    position: absolute;
    top: auto;
    top: 45%;
    left: 10%;
    font-size: 48px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
    transition: 0.3s;
}

.latardepan img{
    width: 65%;
    height: 80%;
    position: absolute;
    top: 13%;
    left: 5%;
    filter:contrast(55%);
}

.home>.btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 50%;
    left: 70px;
}

.home>#btn2{
    /* position: absolute; */
    /* top: 50px; */
    left: 66%;
}

@media screen and (min-width: 400px){

    #nav-menu {
    display: flex;
    }

}

a {
    display: flex;
    color: teal;
    text-align: center;
    font-family: Raleway;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;    
}

h2{
    font-family: Raleway;
    color: teal;
    /* padding: 1%; */
}

hr{
    margin: 0;
    padding: 0;
    border-style: solid;
    border: 2; 
    border-color: teal;
}

.main-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-from: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: inherit; 
}

.content{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0 1 30%;
    padding: 5px;
    margin: 5px;
    text-align: left; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.content:hover{
    /* box-shadow: 4px 2px 2px 4px rgba(0, 0, 0, 0.1); */
    transform: scale(1.01);
}

.main-tokoh{
    width: 70vw;
    padding-left: 15%;
}

.list-tokoh{
    display: flex;
    padding: 10px;
    color: teal;
}

.teks-tokoh{
    padding: 10px;
}

.nama-tokoh{
    font-family: Raleway;
    font-size: large;
    font-weight:bold; 
}

.teks-tokoh span{
    font-family: Raleway;
}

.list-tokoh:hover{
    background: teal;
    color:#E0E0E0;
    transform: scale(1.1);
}

.main-dukungan{
    display: flex;
    font-family: Raleway;
    color: white;
    background-color:  teal;
    padding-bottom: 25px;
    padding-left: 40px;  
}

.saran{
    display: grid;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0 1 35%;
    margin-right:10%;
}

.saran-input{
    margin: 10px;
}

.langganan{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0 1 35%;
    margin-right:10%;
}